
@{
    ViewBag.Title = "Asbestos removal";
}
<div class="js__parallax-window" style="background: url(../Images/1920x1080/AR1.jpg) 50% 0 no-repeat fixed;">
    <div class="parallax-content container" style="padding-top:150px !important;padding-bottom:150px !important;">
        <h1 class="carousel-title">Asbestos removal</h1>
        <p class="color-white" style="text-indent:0;padding-left:10px;">We have held an Asbestos Removal license forn almost 30 years and continues<br /> to work closely with the Health and Safety Executive</p>
    </div>
</div>
<!--========== PARALLAX ==========-->
<!--========== PAGE LAYOUT ==========-->

<div class="row" style="border:20px solid transparent;">
    <div class="container content">
        <div class="col-lg-6" style="padding-left:0;">
            <div class="promo-section-img">
                <img class="img-responsive" src="/Images/970x500/asb.jpg" alt="Content Image" style="margin-top:30px;">
            </div>
        </div>
        <div class="col-lg-6" style="padding-top:30px;">
                <div class="clearfix">
                    <div class="ver-center">
                        <div class="ver-center-aligned">
                            <div class="promo-section-col ">
                                <p>
                                    &nbsp;&nbsp;Actavo - DSL Caspian have held an Asbestos Removal license for almost 30 years. The Company continues to work closely with the Health and Safety Executive. All of the Industrial Services Division’s Asbestos Removal Operatives receive annual refresher training and the company continues a strong link with the TICA’s Asbestos Control and Abatement Division (ACAD). Projects of all sizes have been undertaken spanning all types of industry across the UK and Ireland.
                                </p>
                                <p>
                                    &nbsp;&nbsp;Legislation in the asbestos removal area is constantly under review. Our management, safety advisers and operatives continue to comply with the high standards set out by the current regulations. As legislation changes our procedures, operative’s handbooks and method statements are updated. Each stage of a project is meticulously controlled from the initial survey to removal and disposal of asbestos contaminated materials.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-lg container" style="padding-bottom:0;padding-top:20px;">
        <div class="center wow fadeInDown animated margin-b-50" style="visibility: visible; animation-name: fadeInDown;">
            <h2 class="color-red">Why customers choose our company?</h2>
            <hr style="margin-top:0; border-top:2px solid #b0b0b0;" />
        </div>


        <div class="features">
            <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">

                <div class="feature-wrap" style="margin:0;">

                    <i class="fa fa-object-ungroup service-icon1"></i>
                    <h3 style="margin-top:18px;">Scaffolding</h3>

                </div>

            </div>
            <!--/.col-md-4-->

            <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">

                <div class="feature-wrap">

                    <i class="fa fa-google-wallet service-icon1"></i>
                    <h3 style="margin-top:18px;">Rope access</h3>

                </div>

            </div>
            <!--/.col-md-4-->

            <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">

                <div class="feature-wrap">

                    <i class="fa fa-shower service-icon1"></i>
                    <h3 style="margin-top:18px;">Industrial cleaning</h3>

                </div>

            </div>
            <!--/.col-md-4-->

            <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">

                <div class="feature-wrap">

                    <i class="fa fa-clone service-icon1"></i>
                    <h3 style="margin-top:18px;">Insulation</h3>

                </div>

            </div>
            <!--/.col-md-4-->
            <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">

                <div class="feature-wrap">

                    <i class="fa fa-cut service-icon1"></i>
                    <h3 style="margin-top:18px;">Asbestos removal</h3>

                </div>

            </div>


            <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">

                <div class="feature-wrap">

                    <i class="fa fa-free-code-camp service-icon1"></i>
                    <h3 style="margin-top:18px;">Fire protection</h3>

                </div>

            </div>

            <!--/.col-md-4-->
        </div><!--/.services-->
    </div><!--/.row-->
    <!-- Our Exceptional Solutions -->
    <div class="bg-color-sky-light overflow-h">
        <div class="content-lg container">
            <div class="row margin-b-40">
                <div class="col-sm-6">
                    <h2 class="color-red">Latest projects</h2>
                </div>
            </div>
            <!--// end row -->
            <!-- Masonry Grid -->
            <div class="row">
                <div class="row margin-b-50">
                    <!-- Our Exceptional Solutions -->
                    <div class="col-sm-4 sm-margin-b-50">
                        <div class="margin-b-20">
                            <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                                <a href="*" data-toggle="modal" data-target="#proj1">
                                    <img src="~/Images/970x647/KPO-1.jpg" class="img-responsive" alt="..." />
                                </a>
                            </div>
                        </div>
                        <a href="*" data-toggle="modal" data-target="#proj1">
                            <h3 class="color-red">Client: KPO <span class="text-uppercase margin-l-20 color-blue">Location: Aksai</span></h3>
                            <hr style="margin-top:0; border-top:2px solid #b0b0b0;" />
                            <p style="text-indent:0;">Project Scope: Scaffolding, PFP, Insulation, Surface preparation.</p>
                    </div>
                    </a>
                    <!-- End Our Exceptional Solutions -->
                    <!-- Our Exceptional Solutions -->
                    <div class="col-sm-4 sm-margin-b-50">
                        <div class="margin-b-20">
                            <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                                <a href="*" data-toggle="modal" data-target="#proj2">
                                    <img src="~/Images/970x647/NCOC.jpg" class="img-responsive" alt="..." />
                                </a>
                            </div>
                        </div>
                        <a href="*" data-toggle="modal" data-target="#proj2">
                            <h3 class="color-red">Client: NCOC <span class="text-uppercase margin-l-20 color-blue">Location: Karabatan</span></h3>
                            <hr style="margin-top:0; border-top:2px solid #b0b0b0;" />
                            <p style="text-indent:0;">Project Scope: Scaffolding, PFP, Rope Access, Insulation, Surface preparation.</p>
                    </div>
                    </a>
                    <!-- End Our Exceptional Solutions -->
                    <!-- Our Exceptional Solutions -->
                    <div class="col-sm-4 sm-margin-b-50">
                        <div class="margin-b-20">
                            <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                                <a href="*" data-toggle="modal" data-target="#proj3">
                                    <img src="~/Images/970x647/NCPOC.jpg" class="img-responsive" alt="..." />
                                </a>
                            </div>
                        </div>
                        <a href="*" data-toggle="modal" data-target="#proj3">
                            <h3 class="color-red">Client: NCPOC<span class="text-uppercase margin-l-20 color-blue">Location: Offshore Island “D”</span></h3>
                            <hr style="margin-top:0; border-top:2px solid #b0b0b0;" />
                            <p style="text-indent:0;">Project Scope: Scaffolding, PFP, Rope Access, Insulation, Surface preparation.</p>
                    </div>
                    </a>
                    <!-- End Our Exceptional Solutions -->
                </div>
                <!--// end row -->
            </div>
        </div>

    </div>
    <!--modals-->
    <!--1-->
    <div class="modal fade" id="proj1" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-body" style="padding-bottom:0;padding-top:0;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" style="font-size:34px;">&times;</button>
                        <h4 class="modal-title text-center">Certificate name</h4>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <p class="list-group-item-text" style="margin-top:10px;padding:20px;">
                                Actavo is justifiably proud of its achievements in Health and Safety through  the  development  of  our  Integrated  SHEQ  management system.   The   system   is   designed   to   enable   line   management   to fulfil   their   roles   in   SHEQ   (Safety,   Health,   Environmental,   Quality and   Training)   by   making   each   and   every   person   in   our   team accountable for their own and others Health and Safety. This creates an  improved  culture  throughout  the  business  from  the  behavioural changes in the attitude of our team towards SHEQ.
                                We hold safety as a value, not a priority, because priorities change, values  don’t.  The  ultimate  responsibility  for  SHEQ  lies  with  the  CEO who ensures it is given equal priority with other major business issues. The   implementation   of   the   policy   and   the   safety   management system   is   a   line   management   responsibility   and   will   involve   the participation of all employees within the company.
                                We   continually   review   our   SHEQ   strategies   and   constantly   look for   new   innovative   ideas   to   improve   our   management   system. Objectives   and   Targets   reestablished   annually   and   reviewed monthly  to  establish  their  status.  Information  is  fed  back  into  the company so all employees are aware, thus creating an environment built  upon  trust  and  respect,  and  whereby  everyone  is  an  equal partner in the company.
                                Actavo is certified to OHSAS 18001:2007, the internationally recognised  certification for occupational health and safety management systems. This certification demonstrates DSL’s commitment to health and safety and  the well-being in the workplace.

                            </p>
                        </div>
                        <div class="col-sm-7" style="margin-top:15px;">
                            <img src="~/Images/970x647/KPO-1.jpg" class="img-responsive" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>


            </div>
        </div>
    </div>
    <!--end 1-->
    <!--2-->
    <div class="modal fade" id="proj2" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-body" style="padding-bottom:0;padding-top:0;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" style="font-size:34px;">&times;</button>
                        <h4 class="modal-title text-center">Certificate name</h4>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <p class="list-group-item-text" style="margin-top:10px;padding:20px;">
                                Actavo is justifiably proud of its achievements in Health and Safety through  the  development  of  our  Integrated  SHEQ  management system.   The   system   is   designed   to   enable   line   management   to fulfil   their   roles   in   SHEQ   (Safety,   Health,   Environmental,   Quality and   Training)   by   making   each   and   every   person   in   our   team accountable for their own and others Health and Safety. This creates an  improved  culture  throughout  the  business  from  the  behavioural changes in the attitude of our team towards SHEQ.
                                We hold safety as a value, not a priority, because priorities change, values  don’t.  The  ultimate  responsibility  for  SHEQ  lies  with  the  CEO who ensures it is given equal priority with other major business issues. The   implementation   of   the   policy   and   the   safety   management system   is   a   line   management   responsibility   and   will   involve   the participation of all employees within the company.
                                We   continually   review   our   SHEQ   strategies   and   constantly   look for   new   innovative   ideas   to   improve   our   management   system. Objectives   and   Targets   reestablished   annually   and   reviewed monthly  to  establish  their  status.  Information  is  fed  back  into  the company so all employees are aware, thus creating an environment built  upon  trust  and  respect,  and  whereby  everyone  is  an  equal partner in the company.
                                Actavo is certified to OHSAS 18001:2007, the internationally recognised  certification for occupational health and safety management systems. This certification demonstrates DSL’s commitment to health and safety and  the well-being in the workplace.

                            </p>
                        </div>
                        <div class="col-sm-7" style="margin-top:15px;">
                            <img src="~/Images/970x647/NCOC.jpg" class="img-responsive" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>


            </div>
        </div>
    </div>
    <!--end2-->
    <!--3-->
    <div class="modal fade" id="proj3" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-body" style="padding-bottom:0;padding-top:0;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" style="font-size:34px;">&times;</button>
                        <h4 class="modal-title text-center">Certificate name</h4>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <p class="list-group-item-text" style="margin-top:10px;padding:20px;">
                                Actavo is justifiably proud of its achievements in Health and Safety through  the  development  of  our  Integrated  SHEQ  management system.   The   system   is   designed   to   enable   line   management   to fulfil   their   roles   in   SHEQ   (Safety,   Health,   Environmental,   Quality and   Training)   by   making   each   and   every   person   in   our   team accountable for their own and others Health and Safety. This creates an  improved  culture  throughout  the  business  from  the  behavioural changes in the attitude of our team towards SHEQ.
                                We hold safety as a value, not a priority, because priorities change, values  don’t.  The  ultimate  responsibility  for  SHEQ  lies  with  the  CEO who ensures it is given equal priority with other major business issues. The   implementation   of   the   policy   and   the   safety   management system   is   a   line   management   responsibility   and   will   involve   the participation of all employees within the company.
                                We   continually   review   our   SHEQ   strategies   and   constantly   look for   new   innovative   ideas   to   improve   our   management   system. Objectives   and   Targets   reestablished   annually   and   reviewed monthly  to  establish  their  status.  Information  is  fed  back  into  the company so all employees are aware, thus creating an environment built  upon  trust  and  respect,  and  whereby  everyone  is  an  equal partner in the company.
                                Actavo is certified to OHSAS 18001:2007, the internationally recognised  certification for occupational health and safety management systems. This certification demonstrates DSL’s commitment to health and safety and  the well-being in the workplace.

                            </p>
                        </div>
                        <div class="col-sm-7" style="margin-top:15px;">
                            <img src="~/Images/970x647/NCPOC.jpg" class="img-responsive" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>


            </div>
        </div>
    </div>
    <!--end3-->
    <!-- End Our Exceptional Solutions -->
    <!-- Clients -->
    <div class="bg-color-sky-light">
        <div class="content-lg container">
            <!-- Swiper Clients -->
            <div class="swiper-slider swiper-clients">
                <!-- Swiper Wrapper -->
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/01.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/02.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/03.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/04.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/05.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/06.png" alt="Clients Logo">
                    </div>
                </div>
                <!-- End Swiper Wrapper -->
            </div>
            <!-- End Swiper Clients -->
        </div>
    </div>
    <!-- End Clients -->
