@{
    ViewBag.Title = "News";
}
<div class="modal fade" id="image-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-title">Просмотр изображения</div>
            </div>
            <div class="modal-body">
                <img class="img-responsive center-block" src="" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<!--========== Parallax ==========-->
<div class="js__parallax-window" style="background: url(../Images/1920x1080/01.jpg) 50% 0 no-repeat fixed;">
    <div class="parallax-content container" style="padding-top:290px !important;padding-bottom:120px !important;">
        <h1 class="carousel-title">News</h1>
        <p>Lorem ipsum dolor amet consectetur adipiscing dolore magna aliqua <br /> enim minim estudiat veniam siad venumus dolore</p>
    </div>
</div>
<!--========== Parallax ==========-->

<!--========== PAGE LAYOUT ==========-->

<!-- Latest Products -->
<div class="content-lg container">
    <div class="row margin-b-20">
        <div class="col-sm-6">
            <h2>Some News header</h2>
        </div>
    </div>
    <!--// end row -->

    <div class="row">
        <div class="col-sm-7 sm-margin-b-50">
            <div class="margin-b-30">
                <p style="color:#000;">&nbsp;&nbsp;&nbsp;Actavo - DSL Caspian have developed unrivalled expertise in rope access and abseiling techniques both on and offshore. We hold a full  IRATA  (Industrial  Rope  Access  Trade  Association)  membership and provide specialist services including:</p>
                <p style="color:#000;">
                    • Fabric Inspection & Maintenance
                </p>
                <p style="color:#000;">
                    • Structural Repairs
                </p>
                <p style="color:#000;">
                    • Inspection / Testing of Structures
                </p>
                <p style="color:#000;">
                    • Cleaning & Painting
                </p>
                <p style="color:#000;">
                    • Cable pulling
                </p>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
            <img class="img-responsive" src="~/Images/640x380/1.jpg" alt="">
        </div>

    </div>
    <p style="color:#000;">
        &nbsp;&nbsp;&nbsp;DSL Caspian have successfully completed projects both on – and offshore in Karabatan and Kachagan.
        We have in-house IRATA level “3” supervision, and level “1” operatives. 
    </p>

    <p style="color:#000;">
        &nbsp;&nbsp;&nbsp; DSL Caspian are planning to introduce an additional NDT service within the near future. 
        The benefits of utilizing Rope access are several, form cost saving on general access systems, reduced mobilization periods, and easy access to difficult  locations. 
        Delivering Industrial Services using Rope Access techniques has been calculated to save as much as 80% of the cost of traditional delivery (source: IRATA). This demonstrates the potential advantages of using rope access. In addition, this method of working has a proven safety record, reduces ground level obstructions and avoids equipment being located in areas where work is not taking place.
    </p>
    <!--// end row -->
</div>
<div class="divider col-sm-8 col-sm-offset-2 margin-b-40" style="background:#808080; height:2px;"></div>
<div class="content-lg container">
    <div class="row margin-b-20">
        <div class="col-sm-6">
            <h2>Some News header</h2>
        </div>
    </div>
    <!--// end row -->

    <div class="row">
        <div class="col-sm-7 sm-margin-b-50">
            <div class="margin-b-30">
                <p style="color:#000;">&nbsp;&nbsp;&nbsp;Actavo - DSL Caspian have developed unrivalled expertise in rope access and abseiling techniques both on and offshore. We hold a full  IRATA  (Industrial  Rope  Access  Trade  Association)  membership and provide specialist services including:</p>
                <p style="color:#000;">
                    • Fabric Inspection & Maintenance
                </p>
                <p style="color:#000;">
                    • Structural Repairs
                </p>
                <p style="color:#000;">
                    • Inspection / Testing of Structures
                </p>
                <p style="color:#000;">
                    • Cleaning & Painting
                </p>
                <p style="color:#000;">
                    • Cable pulling
                </p>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
            <img class="img-responsive" src="~/Images/640x380/1.jpg" alt="">
        </div>

    </div>
    <p style="color:#000;">
        &nbsp;&nbsp;&nbsp;DSL Caspian have successfully completed projects both on – and offshore in Karabatan and Kachagan.
        We have in-house IRATA level “3” supervision, and level “1” operatives. 
    </p>

    <p style="color:#000;">
        &nbsp;&nbsp;&nbsp; DSL Caspian are planning to introduce an additional NDT service within the near future. 
        The benefits of utilizing Rope access are several, form cost saving on general access systems, reduced mobilization periods, and easy access to difficult  locations. 
        Delivering Industrial Services using Rope Access techniques has been calculated to save as much as 80% of the cost of traditional delivery (source: IRATA). This demonstrates the potential advantages of using rope access. In addition, this method of working has a proven safety record, reduces ground level obstructions and avoids equipment being located in areas where work is not taking place.
    </p>
    <!--// end row -->
</div>
<div class="divider col-sm-8 col-sm-offset-2 margin-b-40" style="background:#808080; height:2px;"></div>
<div class="content-lg container">
    <div class="row margin-b-20">
        <div class="col-sm-6">
            <h2>Some News header</h2>
        </div>
    </div>
    <!--// end row -->

    <div class="row">
        <div class="col-sm-7 sm-margin-b-50">
            <div class="margin-b-30">
                <p style="color:#000;">&nbsp;&nbsp;&nbsp;Actavo - DSL Caspian have developed unrivalled expertise in rope access and abseiling techniques both on and offshore. We hold a full  IRATA  (Industrial  Rope  Access  Trade  Association)  membership and provide specialist services including:</p>
                <p style="color:#000;">
                    • Fabric Inspection & Maintenance
                </p>
                <p style="color:#000;">
                    • Structural Repairs
                </p>
                <p style="color:#000;">
                    • Inspection / Testing of Structures
                </p>
                <p style="color:#000;">
                    • Cleaning & Painting
                </p>
                <p style="color:#000;">
                    • Cable pulling
                </p>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
            <img class="img-responsive" src="~/Images/640x380/1.jpg" alt="">
        </div>

    </div>
    <p style="color:#000;">
        &nbsp;&nbsp;&nbsp;DSL Caspian have successfully completed projects both on – and offshore in Karabatan and Kachagan.
        We have in-house IRATA level “3” supervision, and level “1” operatives. 
    </p>

    <p style="color:#000;">
        &nbsp;&nbsp;&nbsp; DSL Caspian are planning to introduce an additional NDT service within the near future. 
        The benefits of utilizing Rope access are several, form cost saving on general access systems, reduced mobilization periods, and easy access to difficult  locations. 
        Delivering Industrial Services using Rope Access techniques has been calculated to save as much as 80% of the cost of traditional delivery (source: IRATA). This demonstrates the potential advantages of using rope access. In addition, this method of working has a proven safety record, reduces ground level obstructions and avoids equipment being located in areas where work is not taking place.
    </p>
    <!--// end row -->
</div>
<!-- End Latest Products -->
<div class="js__parallax-window" style="background: url(../Images/1920x1080/01.jpg) 50% 0 no-repeat fixed;">
    <div class="parallax-content container">
        <h2>Some text carousel</h2>

        <!-- Swiper Testimonials -->
        <div class="swiper-slider swiper-testimonials">
            <!-- Swiper Wrapper -->
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <blockquote class="blockquote">
                        <div class="margin-b-20">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna aliqua. Ut enim minim veniam exercitation laboris ut siad consequat siad minim enum esqudiat dolore.
                        </div>
                        <div class="margin-b-20">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret tempor incididunt dolore magna consequat siad minim aliqua.
                        </div>
                        <p><span class="fweight-700 color-link">Some name</span>, Some Customer</p>
                    </blockquote>
                </div>
                <div class="swiper-slide">
                    <blockquote class="blockquote">
                        <div class="margin-b-20">
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                        <div class="margin-b-20">
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                        <p><span class="fweight-700 color-link">Some name</span>, Some Customer</p>
                    </blockquote>
                </div>
            </div>
            <!-- End Swiper Wrapper -->
            <!-- Pagination -->
            <div class="swiper-testimonials-pagination"></div>
        </div>
    </div>
</div>
<!--========== Parallax ==========-->

    <!-- Clients -->
    <div class="bg-color-sky-light">
        <div class="content-lg container">
            <!-- Swiper Clients -->
            <div class="swiper-slider swiper-clients">
                <!-- Swiper Wrapper -->
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/01.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/02.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/03.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/04.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/05.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="~/Images/clients/06.png" alt="Clients Logo">
                    </div>
                </div>
                <!-- End Swiper Wrapper -->
            </div>
            <!-- End Swiper Clients -->
        </div>
    </div>
    <!-- End Clients -->